@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.clignotement {
    animation: clignotement 1s alternate infinite;
}

@keyframes clignotement {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.w-0\.95 {
    width: 95%;
}

.w-0\.75 {
    width: 75%;
}

.w-0\.65 {
    width: 65%;
}

.w-0\.35 {
    width: 35%;
}